<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>color-converter</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div class="main-div">
      <h1>COLOR CONVERTER</h1>
      <div class="checkbox">
        <span>HEX TO RGB</span><input type="checkbox" v-model="convertRGB"><span>RGB TO HEX</span>
      </div>
      <input v-model="colorValue" type="text" class="color-value" :placeholder="convertRGB ? '255, 255, 255' : '#ffffff'">
      <p v-if="convertedValue.length > 0" class="convertedValue">{{ convertedValue }}</p>
      <button @click="convert">CONVERT</button>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
